APP_PORT=3000
APP_TIMEZONE=Europe/Moscow
FETCH_INTERVAL_MINUTES=60

WB_API_TOKEN=
WB_API_URL=https://common-api.wildberries.ru/api/v1/tariffs/box
WB_API_REQUEST_TIMEOUT_MS=30000

GOOGLE_SPREADSHEET_IDS=
GOOGLE_SHEET_NAME=stocks_coefs
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS_BASE64=

# Available values:
# - box_delivery_coef_expr
# - box_delivery_marketplace_coef_expr
# - box_storage_coef_expr
SORT_BY_COEFFICIENT=box_delivery_coef_expr
